<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Prueba a intercambiar el muelle por otro elemento, como la semilla o el engranaje.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Asegúrate de pasar `item` como [argumento](glossary://argument) a `setItemA()`. De esta forma, el elemento que `setItemA()` use vendrá del vector y cambiará cada vez que el bucle se ejecute.

- callout(Ejemplo):
    ```
    for item in items {
        setItemA(item)
        setItemB(.dirt)
        switchLightOn(.blue)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Prueba a cambiar el color de la luz encendida.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Para incluir nuevos elementos en el bucle, añádelos al vector `items`.</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
