<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Makineye girdi olarak kullanmak için `setItemA()` [fonksiyonuna](glosary://function) bir yay (spring) [geçir](glossary://pass).
- callout(Örnek):
    ```
    setItemA(.spring)
    setItemB(.metal)
    forgeItems()
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Makine için bir [son ürün](glossary://final%20product) yapana kadar yay (spring) ile başka [öğeleri](glossary://items%20list) birleştirmeyi dene.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Yay (spring) ile yumuşak bir şeyi birleştirerek tuhaf bir şapkaya benzeyen bir şey oluşturabilirsin.</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
