<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Använd maskinen till att [förena](glossary://forge) nya objekt! Allt du behöver göra är att ange inmatningarna med `setItemA()` och `setItemB()` och sedan kombinera dem med `forgeItems()`.
- callout(Exempel):
    ```
    setItemA(.metal)
    setItemB(.dirt)
    forgeItems()
    ```</string>
				<key>New item</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Maskinen behöver nya ögon. Kan du hjälpa till? Prova att kombinera DNA med ett annat objekt och se vad maskinen skapar.</string>
				<key>New item</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Maskinen kanske behöver lite metall också i de där ögonen.</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
