<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
**Unutma:** Fonksiyonun tam adında, iki noktayla (`:`) ayrılmış parametre adları bulunur. `addAlien()` için tam fonksiyon adı, `addAlien(touch:)` olarak yazılır.
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string></string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Bravo!

 `onFingerMoved` gibi bir özelliği bir fonksiyona nasıl ayarlayacağını merak ediyor olabilirsin. `onFingerMoved`, `String` (dizgi) veya `Int` (tam sayı) gibi bir tip yerine *fonksiyon* tipindedir. `addAlien(touch:)` veya `addMonster(touch:)` gibi yalnızca `Touch` parametresi olan herhangi bir fonksiyona ayarlanabilir.

[**Sonraki Sayfa**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
