<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>[Übergib](glossary://pass) eine Sprungfeder an die [Funktion](glossary://function) `setItemA()`, um sie als Eingabe für die Maschine zu verwenden.
- callout(Beispiel):
    ```
    setItemA(.spring)
    setItemB(.metal)
    forgeItems()
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Versuche, die Sprungfeder mit anderen Objekten zu kombinieren, bis du ein [Endprodukt](glossary://final%20product) für die Maschine erstellst.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Du könntest die Sprungfeder mit etwas Weichem kombinieren, um einen seltsamen Hut zu erstellen.</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
