<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Essaie d’échanger le ressort (spring) par un autre élément, tel que la graine (seed) ou l’engrenage (gear).</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Assure-toi de transmettre `item` en tant qu’[argument](glossary://argument) dans `setItemA()`. Ainsi, l’élément utilisé par `setItemA()` proviendra du tableau et sera modifié à chaque exécution de la boucle.

- callout(Exemple):
    ```
    for item in items {
        setItemA(item)
        setItemB(.dirt)
        switchLightOn(.blue)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Essaie de changer la couleur de la lumière qui est allumée.</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Pour inclure de nouveaux éléments dans la boucle, ajoute-les au tableau `items`.</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
