<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>spring（ばね）を、seed（種）やgear（歯車）などの別のアイテムと交換してみてください。</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>`setItemA()`（アイテムAをセット）への[引数](glossary://argument)には、必ず`item`（アイテム）を指定してください。こうすることで、配列内のアイテムが`setItemA()`で使用され、ループで繰り返し実行されるたびにアイテムが変更されます。

- callout(例):
    ```
    for item in items {
        setItemA(item)
        setItemB(.dirt)
        switchLightOn(.blue)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>オンにするライトの色を変更してみてください。</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ループに新しいアイテムを含めるには、そのアイテムを`items`（アイテム）の配列に追加します。</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
