<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
`Graphic(image: image)` kullanarak bir `Graphic` örneği yarat.
		</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>
Bir sonraki grafik için `position`’ı (konum) yukarı ve sağa taşı:\
`position.x += 75`\
`position.y += 75`
		</string>
			</dict>
		</dict>
	</array>
	<key>solution</key>
	<string>
`// Create a graphic with image.`\
`let graphic = Graphic(image: image)`\
`// Place graphic on the scene.`\
`scene.place(graphic, at: position)`\
`// Set position for next graphic.`\
`position.x += 75`\
`position.y += 75`
	</string>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>
### Gerçek bir gezegen yerleştirme yıldızısın!

**Meydan Okuma:** Bu kodu, gezegen dizisini farklı bir çeyreğe (örneğin sol üsttekine) koyacak şekilde değiştirebilir misin?

[**Sonraki Sayfa**](@next)
	</string>
		</dict>
	</dict>
</dict>
</plist>
