<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>使用機器來[融合](glossary://forge)新的項目！你要做的就是使用 `setItemA()` 和 `setItemB()` 來設定輸入，然後使用 `forgeItems()` 來結合它們。
- callout(範例):
    ```
    setItemA(.metal)
    setItemB(.dirt)
    forgeItems()
    ```</string>
				<key>New item</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>機器需要新的眼球。你能幫幫忙嗎？嘗試結合 DNA 和其他項目，看看機器會製作出什麼東西。</string>
				<key>New item</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>機器可能也需要在眼球中用到一些 metal（金屬）。</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
