<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>spring（ばね）を`setItemA()`（アイテムAをセット）[関数](glossary://function)で[指定](glossary://pass)すると、マシンへの入力として使用されます。
- callout(例):
    ```
    setItemA(.spring)
    setItemB(.metal)
    forgeItems()
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>マシンの[最終生成物](glossary://final%20product)ができるまで、spring（ばね）とほかのアイテムを合体させてみてください。</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>spring（ばね）を何か柔らかいものと合体させると、変わった帽子を作ることができるかもしれません。</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
