<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ลองแลกเปลี่ยนสปริงกับวัตถุอื่น เช่น เมล็ดพืชหรือเฟือง</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ตรวจสอบให้แน่ใจว่าคุณได้ส่งผ่าน `item` เป็น[อาร์กิวเมนต์](glossary://argument)ไปที่ `setItemA()` ด้วยวิธีนี้ รายการที่ `setItemA()` ใช้จะมาจากอาร์เรย์และเปลี่ยนทุกครั้งที่รัน Loop

- callout(ตัวอย่าง):
    ```
    for item in items {
        setItemA(item)
        setItemB(.dirt)
        switchLightOn(.blue)
        forgeItems()
    }
    ```</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ลองเปลี่ยนสีแสงที่เปิดอยู่</string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>ในการรวมรายการใหม่เข้าไปใน Loop ให้เพิ่มไปที่อาร์เรย์ `items`</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
