<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hints</key>
	<array>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Yeni öğeler [oluşturmak](glossary://forge) için makineyi kullan! Yapman gereken tek şey girdileri `setItemA()` ve `setItemB()` ile belirlemek ve sonra onları birleştirmek için `forgeItems()` kullanmak.
- callout(Örnek):
    ```
    setItemA(.metal)
    setItemB(.dirt)
    forgeItems()
    ```</string>
				<key>New item</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Makinenin yeni göz yuvarlarına ihtiyacı var. Yardımcı olabilir misin? DNA’yı başka öğeyle birleştirmeyi dene ve makinenin ne yarattığını gör.</string>
				<key>New item</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>_LOCALIZABLE_</key>
			<dict>
				<key>Content</key>
				<string>Makinenin göz yuvarları için metale ihtiyacı olabilir.</string>
			</dict>
		</dict>
	</array>
	<key>success</key>
	<dict>
		<key>_LOCALIZABLE_</key>
		<dict>
			<key>Content</key>
			<string>	</string>
		</dict>
	</dict>
</dict>
</plist>
